.radio-btn-group [type=radio]:checked,
.radio-btn-group [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

.radio-btn-group [type=radio]:checked+label,
.radio-btn-group [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #56371c;
    font-size: 15px;
}

.radio-btn-group [type=radio]:checked+label:before,
.radio-btn-group [type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #98693f;
    border-radius: 100%;
    background: #fff;
}

.radio-btn-group [type=radio]:checked+label:after,
.radio-btn-group [type=radio]:not(:checked)+label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #90b9f7;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    transition: all .2s ease
}

.radio-btn-group [type=radio]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0)
}

.radio-btn-group [type=radio]:checked+label:after {
    opacity: 1;
    transform: scale(1)
}

.radio-btn-group .label-content .title {
    margin-top: -1px
}

.radio-wrapper {
    padding: 12px;
    width: 100%;
    max-width: 450px
}

.radio-wrapper .item {
    padding: 13px 0
}

.radio-wrapper.small {
    padding: 12px 15px
}

.radio-wrapper.small .item label {
    font-size: 13px
}

.radio-wrapper.frame {
    border: 1px solid #88beec;
    border-radius: 5px
}