.task-dlg {

    .main-box {
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }

    .task-title {
        font-weight: 500;
        font-size: 15px;
        color: #1d1c1b;
        padding: 45px 45px 25px 45px;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            width: 10px;
            margin-left: 8px;
        }
    }

    .task-desc {
        flex: 1;
        font-size: 15px;
        padding: 0 45px 30px 45px;
        line-height: 30px;
        color: #444444;
    }

    .attachments {
        display: flex;

        .box {
            display: flex;
            border: 1px solid #e7ab76;
            align-items: center;
            padding: 3px 20px 3px 16px;
            margin-top: 35px;
            min-width: 85px;
            border-radius: 18px;
            font-size: 15px;
            color: #6b1e1e;

            img {
                width: 25px;
                margin-right: 10px;
            }
        }

    }

    .task-updates {
        flex: 1;
        padding: 0 40px;

        .update {
            display: flex;
            align-items: center;
            margin: 7px 0px;
            background: #ffc39c21;
            border-radius: 12px;
            height: 55px;
            padding: 0 20px;
            cursor: pointer;

            .bullet {
                background: #ff7d1e;
                width: 7px;
                height: 7px;
                border-radius: 100%;
                margin-right: 5px;
            }

            .date {
                font-size: 14px;
                display: flex;
                justify-content: center;
                color: #292929;
                margin: 10px;
            }

            .bullet {
                background: #ff7d1e;
                width: 7px;
                height: 7px;
                border-radius: 100%;
                margin-right: 5px;
            }

            &.plus {
                color: #ff7d1e;
                font-weight: 500;

                .icon {
                    font-size: 22px;
                    margin-right: 11px;
                    font-weight: 500;
                }

                .txt {
                    font-size: 14px
                }
            }

            &:hover {
                background: #fcbf9633;
            }
        }
    }
}

.steps-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 115px;
    width: 100%;

    .step {
        height: 33px;
        background-color: #FF973D;
        width: 41px;
        border-radius: 7px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-right: 35px;
        color: white;
    }
}
}