.task-update-item-dlg {

    .dlg {
        z-index: 12;
        width: 525px;

        .info {
            margin-top: 110px;
        }

        .main-box {
            height: 490px;
        }

        .main-title {
            font-weight: 600;
            font-size: 14px;
            color: #1d1c1b;
            padding: 55px 30px 15px 35px;
            margin: 10px 10px 0 10px;
        }


        .update-time {
            font-weight: 500;
            font-size: 15px;
            color: #1d1c1b;
            padding: 45px 45px 30px 45px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .time {
                color: gray;
            }
        }

        .task-desc {
            flex: 1;
            font-size: 15px;
            padding: 0 45px 30px 45px;
            line-height: 30px;
            color: #444444;
        }

        .attachments {
            display: flex;

            .box {
                display: flex;
                border: 1px solid #e7ab76;
                align-items: center;
                padding: 3px 20px 3px 16px;
                margin-top: 35px;
                min-width: 85px;
                border-radius: 18px;
                font-size: 15px;
                color: #6b1e1e;

                img {
                    width: 25px;
                    margin-right: 10px;
                }
            }

        }



    }

    .popper {
        z-index: 11;
    }
}