.panel.lessons {

    width: 100%;

    .list-item {

        .datetime {
            display: flex;
            align-items: center;

            .date {
                font-size: 13.5px;
                margin-right: 10px;
                padding-left: 5px;
                color: #b06c43;
                font-weight: 500;
                margin-top: 1px;
            }
        }

        .time {
            font-size: 14px;
        }
    }

    .btn-corner {
        .icon {
            margin-top: 8px;

            img {
                width: 28px;
            }
        }
    }
}