#new-lesson-choose-student-dlg {

    .popper {
        z-index: 11;
    }

    .dlg {
        width: 780px;
    }

    .students {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 80px 70px 50px 70px;
        box-sizing: border-box;

        .find-input {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #edd3bb;
            margin: 45px 0 42px 0;

            .icon {
                img {
                    width: 20px;
                }
            }

            .txt {
                color: gray;
                padding: 0 21px 10px 20px;
            }
        }

        .student-list {
            flex: 1;

            .item {
                display: flex;
                align-items: center;
                height: 70px;
                background: #8080800f;
                margin-bottom: 5px;
                border-radius: 20px;
                padding: 0 10px;

                img {
                    width: 62px;
                }

                .name {
                    margin-left: 15px;
                    font-size: 16px;
                }

                &:hover {
                    background: #8080801a;
                }
            }
        }
    }
}