#new-lesson-choose-date-dlg {

    .popper {
        z-index: 11;
    }

    .dlg {
        width: 780px;
    }

    .dates {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .date-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px 0 40px 0;

        .txt {
            font-weight: 500;
            padding: 0 15px;
            font-size: 16px;
        }

        .icon {
            display: flex;

            svg {
                width: 18px;
            }
        }
    }

    .days {
        display: flex;
        margin-bottom: 45px;
        justify-content: center;
        align-items: center;

        .day {
            display: flex;
            flex-direction: column;
            padding: 5px 12px;
            cursor: pointer;

            .txt {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                color: gray;
                margin-bottom: 12px;
            }

            .num {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                min-width: 30px;
                min-height: 30px;
                border: 1px solid #fff;
            }

            &:hover {

                .txt,
                .num {
                    color: red;
                }
            }

            &.active {

                .txt,
                .num {
                    color: #ff6c00;
                }

                .num {
                    background: #ff7d1e26;
                    border: 1px solid #e08650;
                }
            }
        }
    }

    .hours {
        .row {
            display: flex;
            justify-content: center;

            .hour {
                border: 1px solid #ffd8c1;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                width: 194px;
                height: 34px;
                color: #515050;
                margin: 5px;
            }
        }
    }

}