.dlg-wrap {
    .popper {
        display: none;
        position: absolute;
        inset: 0;
        background: #2a2a2a6e;
        z-index: 2;
    }

    .dlg {
        position: absolute;
        right: -100%;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 550px;
        /* transition: all .3s ease-in-out; */
        background: #fff;
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn-close {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 25px;
            right: 20px;
            cursor: pointer;

            svg {
                width: 20px;
                stroke: #707070;
            }

            &:hover {
                background: #eaeaea;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            margin-top: 90px;

            .name {
                font-size: 25px;
                font-family: "PT Serif", serif;
                font-weight: 400;
                font-style: normal;
                display: flex;
                justify-content: center;
                margin-bottom: 14px;
                color: #bf600c;
            }
        }

        .date {
            font-size: 14px;
            display: flex;
            justify-content: center;
            color: #292929;
        }

        .main-box {
            display: none;
            width: 90%;
            height: 515px;
            margin-top: 50px;
            background: #ffc39c14;
            border: 1px solid #FFAE7E;
            border-radius: 5px;
            flex-direction: column;

            &.show {
                display: flex;
            }
        }
    }

    &.open {
        .popper {
            display: block;
        }

        .dlg {
            right: 0;
        }
    }
}