.panel.lessons {

    width: 100%;

    .list-item {

        .datetime {
            display: flex;
            align-items: center;

            .date {
                font-size: 14px;
                margin-right: 10px;
                padding-left: 5px;
                color: #b06a0d;
                font-weight: 500;
            }

            .time {
                font-size: 14px;
            }
        }

    }

    .btn-more {
        position: absolute;
        bottom: 101px;
        right: 37px;
        background: #f2f2f2;
        width: 40px;
        height: 39px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        cursor: pointer;

        .dot {
            background: #818181;
            height: 4px;
            width: 4px;
            border-radius: 100%;
            margin: 1px;
        }
    }

    .btn-calendar {
        position: absolute;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
    }

}