.offer-dlg {
    .dlg {
        z-index: 12;
        width: 525px;

        .info {
            margin-top: 110px;
        }

        .main-box {
            height: 490px;
        }

        .main-title {
            font-weight: 600;
            font-size: 14px;
            color: #1d1c1b;
            padding: 55px 30px 15px 35px;
            margin: 10px 10px 0 10px;
        }

        .inputs-wrap {

            .offer-input {
                display: flex;
                border-bottom: 1px solid #f5c59b;
                width: 356px;
                margin: 40px 40px;
                padding: 6px 5px;

                .caption {
                    font-weight: 500;
                    font-size: 14px;
                    width: 70px;
                    color: #965600;
                    padding-left: 5px;
                }

                .txt {
                    color: #a9a9a9;
                    font-size: 14px;
                }
            }
        }

        .actions {
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 32px 61px 41px 52px;

            .send {
                background: #FF973D;
                padding: 0px 27px;
                height: 33px;
                display: flex;
                align-items: center;
                margin-left: 23px;
                font-size: 14px;
                border-radius: 10px;
                color: white;
            }
        }
    }

    .popper {
        z-index: 11;
    }
}