.student {
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #606060;
    z-index: 20;
    padding: 10px;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background: #fff;
        padding-top: 110px;
        border-radius: 10px;
    }

    .student-avatar {
        img {
            width: 190px;
        }
    }

    .student-name {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .options {
        margin-top: 55px;

        .option {
            width: 400px;
            padding: 15px 10px;
            border-radius: 19px;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            color: #472900;
            background: #fb7c1e12;
            font-size: 18px;
            border: 1px solid #8c50004d;
            cursor: pointer;

            &:hover {
                box-shadow: 0 18px 18px -18px #162d3d3b;
            }
        }
    }


    .btn-close {
        position: absolute;
        top: 55px;
        right: 246px;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 30px;
            stroke: #c7630a;
        }

        &:hover {
            background: #eaeaea;
        }
    }

    &.show {
        display: flex;
    }
}