.panel.students {
    .items {
        position: relative;
        padding-top: 30px;

        .row {
            display: flex;
            margin-bottom: 15px;

            .pic {
                position: relative;
                margin: 10px 45px;
                transition: all 0.3s ease;
                cursor: pointer;

                img {
                    width: 130px;
                }

                .name {
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    margin-top: -10px;
                    font-weight: 500;
                    color: #454545;
                }

                &:hover {
                    margin-top: 7px;
                }
            }
        }

        .btn-next {
            position: absolute;
            right: -50px;
            top: 50%;
            cursor: pointer;

            img {
                height: 60px;
            }
        }
    }
}