.panel.students {

    .search-input {
        border-bottom: 1px solid #f1a3a3;
        padding: 0 10px;

        img {
            width: 30px;
        }
    }

    .items {
        position: relative;
        margin-top: 65px;

        .row {
            display: flex;
            margin-bottom: 15px;

            .pic {
                position: relative;
                margin: 10px 45px;
                transition: all 0.3s ease;
                cursor: pointer;

                img {
                    width: 130px;
                }

                .name {
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    margin-top: -10px;
                    font-weight: 500;
                    color: #454545;
                }

                &:hover {
                    margin-top: 7px;
                }
            }
        }
    }

    .btn-plus {
        .icon {
            height: 25px;

            img {
                width: 21px;
            }
        }
    }

    .search-box {
        display: none;
        position: fixed;
        top: 0;
        left: 270px;
        right: 0;
        bottom: 0;
        z-index: 11;
        justify-content: center;
        align-items: center;

        .popper {
            position: absolute;
            inset: 0;
            background: #2a2a2a6e;
            z-index: 1;
        }

        .dlg {
            height: 642px;
            width: 605px;
            background: #fff;
            z-index: 4;
            border-radius: 10px;


            .find-input {
                border-bottom: 1px solid #eba4a4;
                margin: 55px 35px 10px 35px;

                .icon {
                    img {
                        width: 30px;
                    }
                }
            }

            .student-list {
                padding: 20px 35px;

                .item {
                    display: flex;
                    align-items: center;
                    height: 75px;
                    background: #8080800f;
                    margin-bottom: 5px;
                    border-radius: 15px;
                    padding: 0px 6px;

                    img {
                        width: 62px;
                    }

                    .name {
                        margin-left: 15px;
                        font-size: 16px;
                    }

                    &:hover {
                        background: #8080801a;
                    }
                }
            }

        }

        &.show {
            display: flex;
        }
    }

    .more-options {
        .item {

            &.find {
                img {
                    width: 65px;
                }
            }

            &.plus {
                img {
                    width: 53px;
                }
            }


        }
    }

    .inner.hide-title {

        .search-input,
        .title {
            display: none;
        }
    }

    .inner.show-options-menu {

        .items {
            display: none;
        }

        .more-options {
            display: flex;
        }

    }

    .add-student-dlg {
        display: none;
        position: fixed;
        top: 0;
        left: 270px;
        right: 0;
        bottom: 0;
        z-index: 11;
        justify-content: center;
        align-items: center;

        .popper {
            position: absolute;
            inset: 0;
            background: #2a2a2a6e;
            z-index: 1;
        }

        .dlg {
            height: 685px;
            width: 630px;
            background: #fff;
            z-index: 4;
            border-radius: 10px;
            padding: 24px 50px;
            box-sizing: border-box;

            .caption {
                color: #853704;
                font-size: 24px;
                margin: 40px 0 30px 0;
            }

            .field {
                display: flex;
                border-bottom: 1px solid #ffe3d0;
                height: 70px;
                align-items: flex-end;
                padding: 10px;
                box-sizing: border-box;
                font-size: 15px;

                .name {
                    font-weight: 500;
                    margin-right: 20px;
                    min-width: 80px;
                }

                .txt {
                    color: #a4a4a4;
                }
            }

            .actions {
                display: flex;
                justify-content: end;
                margin-top: 100px;

                .btn-save {
                    background-color: #ff7d1e;
                    color: #fff;
                    width: 85px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    font-size: 15px;
                }
            }
        }

        &.show {
            display: flex;
        }
    }
}




@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 130, 150;
        stroke-dashoffset: 0;
    }
}