.third-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  background: #131313;
  padding-top: 70px;

  /* .main-title {
    padding-bottom: 100px;
    font-family: Poppins;
    font-size: 47px;
    font-weight: 300;
    line-height: 67.2px;
    letter-spacing: -1.4px;
    color: #e0e0e0;
    margin-top: 150px;
  } */


  .main-title-small {
    padding-top: 47px;
    color: #eff5ffb0;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    line-height: 27px;
  }

  .main-title {
    padding-top: 20px;
    font-family: Poppins;
    font-size: 44px;
    font-weight: 400;
    line-height: 67.2px;
    letter-spacing: -1.4px;
    color: #e2e2e2;
    background: linear-gradient(135deg, #ededed 0%, #ffa061 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



  .lbl {
    position: relative;
    height: 46px;
    background-image: url(../images/lbl1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-left: 20px;
    padding-right: 25px;
    display: flex;
    color: #000;
    font-weight: 600;
    font-size: 22px;
    font-family: Poppins;
    padding: 7px 55px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      left: -10px;
      right: 10px;
      bottom: 0;
      background-color: red;
    }
  }

  section {
    position: relative;
    width: 100%;
    height: 459px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
    opacity: 1;
    margin-top: 145px;
    max-width: 1045px;



    .subtitle1 {
      font-size: 24px;
      padding: 18px 0;
      color: #ededec;
    }

    .text {
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 470px;

      .title {
        font-family: Poppins;
        font-size: 33px;
        font-weight: 400;
        letter-spacing: -1px;
        color: #d1d1d1;

        .gradient {
          font-weight: 500;
        }
      }

      .subtitle {
        padding-top: 25px;
        color: #d3d0d0;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
      }
    }

    &:nth-of-type(2) {
      height: 400px;

      .text {
        margin-left: auto;
        margin-right: -45px;
      }
    }

    &.why1 {
      img {
        position: absolute;
        top: 30px;
        right: 25px;
        width: 370px;
      }
    }
  }

  .why-img2 {
    width: 430px;
    position: absolute;
    top: 40px;
    left: -20px;

    img {
      width: 100%;
    }

    /* &::before {
      content: "";
      position: absolute;
      width: 183px;
      height: 15px;
      background-color: #ffc446;
      top: 47px;
      top: -9px;
      left: 155px;
    } */
  }

  .why-img3 {
    width: 460px;
    position: absolute;
    right: -20px;

    img {
      width: 100%;
    }

    /* 
    &::before {
      content: "";
      content: "";
      position: absolute;
      width: 15px;
      height: 150px;
      background-color: #9bdf28;
      top: 47px;
      left: -17px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 192px;
      border-top-width: 0px;
      border-left: 18px solid black;
    } */
  }

  .section3 {
    margin-top: 100px;

    img {
      right: 20px;
    }
  }
}


@media (max-width: 550px) {
  .third-page section span {
    width: 100% !important;
    align-items: center;
  }

  .third-page section span .subtitle {
    font-size: 3.2vw !important;
    width: 90%;
    line-height: 6vw !important;
  }
}

@media (max-width: 450px) {
  .third-page {
    section {
      width: 100%;
    }

    img {
      width: 133% !important;
      scale: 1 !important;
    }

    .section2 img {
      margin-left: -15px !important;
    }

    section span .subtitle {
      font-size: 17px;
      line-height: 20px !important;
      width: 86%;
    }
  }
}

@media (max-width: 1124px) {
  .third-page {
    span .title {
      font-size: 32px !important;
    }

    section span .subtitle {
      padding-top: 20px !important;
      font-size: 17px !important;
      line-height: 34px !important;
    }

    img {
      scale: 0.7 !important;
    }
  }
}

@media (max-width: 1000px) {
  .third-page section {
    flex-direction: column-reverse !important;
    height: auto !important;

    img {
      top: 0;
      left: 0;
      position: static !important;
      margin-top: -90px;
    }

    span {
      align-items: center;
      margin: 0 !important;
      margin-top: -70px !important;

      .subtitle {
        text-align: center !important;
      }
    }

    &:first-of-type {
      margin-top: -100px;
    }

    &:nth-of-type(2) {
      flex-direction: column !important;
    }

    &:last-of-type {
      img {
        margin-top: -110px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 385px) {
  .third-page section span {
    .title {
      font-size: 7.5vw !important;
    }

    .subtitle {
      font-size: 16px !important;
      line-height: 30px !important;
    }
  }
}